.custom-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.custom-label {
  font-size: 14px;
  font-weight: bold;
  color: #003d7a;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.custom-file-upload .upload-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0066cc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.custom-file-upload:hover .upload-button {
  background-color: #005bb5;
}

.uploaded-file-name {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}

.uploaded-file-name svg {
  margin-right: 5px;
  color: #0066cc;
}
